@media screen {
	.uir-list-header-td {
		padding: 1px 5px !important;
	}
	.uir-list-row-tr > td {
		font-size: 12px;
		padding: 1px 5px !important;
	}
}

.x-window-mc {
	padding: 10px;
}
.x-window-mc iframe {
	height: auto !important;
}

textarea:disabled {
	color: rgb(50, 50, 50) !important;
}

.uir-pagination-select ul {
	width: auto !important;
	overflow-x: auto !important;
}

.uir-field-group-separator {
	height: 2px !important;
}

.uir-page-title-firstline, .uir-page-title-secondline {
	display: inline-block !important;
}

.table_fields > tbody > tr:first-child > td > div.uir-field-wrapper:first-child {
	margin-top: 0 !important;
}

.uir_filters {
	margin-bottom: 0 !important;
}

.uir_filters_body {
	font-size: 80%;
	padding: 0 5px;
}

.uir_filters_body .uir-field-wrapper {
	margin-right: 10px;
}

.uir_filters_body .uir-field-wrapper .uir-field .uir-select-input-container input {
	font-size: inherit;
	height: 20px;
}

.uir_filters_body .uir-field-wrapper .uir-field .uir-select-input-container .ddarrowSpan {
	height: 20px !important;
	width: 20px !important;
}

.dropdownDiv .dropdownNotSelected, .dropdownDiv .dropdownSelected {
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 0;
}

#mainscript_fs {
	width: 100%;
}

#mainscript_fs textarea {
	width: 100% !important;
}
